.product-item-image{
    width: 300px;
    height: 450px;
}
.product-link{
    text-decoration: none;
    color: black;
}
.product-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}